{
  "cc-override-token" : "",
  "cc-url"            : "https://api.redacted-domain.org",
  "http-cert"         : "./config/server.crt",
  "http-key"          : "./config/server.key",
  "http-port"         : 8888,
  "log-level"         : "debug",
  "uaa-client"        : "cfy-wall",
  "uaa-secret"        : "password",
  "uaa-url"           : "https://uaa.redacted-domain.org"
}

