{
  "cc-url"            : "https://api.cloudfoundry.example.com",
  "http-cert"         : "./config/server.crt",
  "http-key"          : "./config/server.key",
  "http-port"         : 8080,
  "log-level"         : "error",
  "uaa-client"        : "cfy-wall",
  "uaa-secret"        : "password",
  "uaa-url"           : "https://api.uaa.example.com",
  "mail-from"         : "cf-run@example.com"
}

